# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_horizon_dongle_display
    def_bool $(shields_list_contains,horizon_dongle_display)

config SHIELD_horizon
    def_bool $(shields_list_contains,horizon)
    
config SHIELD_horizon_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,horizon_peripheral_left)


